body{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
}
a:hover{
    margin: 1px;
}
a .a {
    display: none;
  }
  
  a:hover .d {
    display: none;
  }
  
  a:hover .a {
    display: inline;
  }
  
  .button:hover {
    margin: 0px;
  }