.content {
  max-width: 720px;
  min-width: 500px;
  margin: auto;
}

ul {
  list-style: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    overflow: hidden;
}

a{
    color: black;
    text-decoration: none;
}